@charset "utf-8";
/* CSS Document */


.loadingDiv {
position:absolute;
bottom:2px;
right:20px; 
padding:5px;
display:none;
}

.status {
position:relative;
display:block;
padding-top: 2px;
padding-bottom: 2px;
}

.button {
background: #CCCCCC;
border: solid 1px #000000;
margin-left: 10px;
width: 30px;
padding: 0px;
text-decoration:none;
visibility:hidden;
}

a, img {
text-decoration:none;
padding: 2px;
border-style: none;
}

li {
text-decoration:none;
list-style-type: none;
list-style-image: none;
list-style-position:outside;
border-bottom: 1px;
border-bottom-style:dashed;
border-bottom-color: #CCCCCC;
}

.status-img {
margin: 0pt; 
padding: 0pt;
position: absolute;
line-height: 1.4em;
}



.status-body {
overflow:hidden;
height: 100%;
min-height: 50px;
display: block;
margin-left: 55px;
width: 210px;
line-height: 70%;
}

li:hover {
background-color:#eeeeee;
}


.status-entry {
overflow:hidden;
height: 110px;
display: block;
margin-left: 0px;

}

.message {
margin: 0pt;
padding: 0pt;
vertical-align: top;
font-size:10px;
}

.by {
display: block;
font-size: 10px;
padding-top: 4px;
padding-bottom: 2px;
}

.username {
font-weight: bold;
}

body {
font-family:Verdana, Arial, Helvetica, sans-serif;
overflow: hidden;
line-height: 1.22em;
}



ol {
text-decoration:none;
list-style-type: none;
list-style-image: none;
list-style-position:outside;
}


textarea {
height:4em;width:200px;padding:1px;font:1.15em/1.1 'Lucida Grande',sans-serif;overflow:auto; resize:none;
border: none;
border-style:dashed;
border-width: 1px;
}


#loading {
margin: 100px;
margin-left: 0px;
position:relative;
display:inline-block;
}

#posts {
overflow-x:auto;
overflow-y:auto;
height:100%;
width:100%;
clear: both;
}

#top {
top: 50px;
left: 0px;
width: 300px;
}


#content {overflow: auto;outline: none;position: absolute;z-index: 3;top: 150px; right: 0;bottom: 100px;left: 0px; border:solid #eeeeee 1px;}
* html #content {background-color: #fff;outline: none;width: expression(((cWidth = document.body.clientWidth) - 0) + 'px');left: 0px;height: expression(((cHeight = document.body.clientHeight) - 0) + 'px');}

#footer {
position: absolute;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
padding-right: 3px;
height: 100px;
left: 0px;
bottom: 0pt;
width: 100%;
font-size: small;
}

.nav {
position: absolute;
margin-top: 2px;
left: 250px;
font-size: small;
width: 400px;
}

.big {
font-size: 12pt;
font-weight:bold;
}

.bquote {
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 2em;
font-weight:bold;
}

.submit {
margin-left: 0px;
}

#hoot-graphic {
position: absolute;
top: 0pt;
left: 0pt;
padding: 1px;
}


